.app-background {
  background: linear-gradient(-45deg, #603C14, #9C2706, #D45B12, #F3BC2E, #5F5426);
}

.headers-background {
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-menu {
  background: transparent !important;
}

.transparent-menu .ant-menu-item-selected {
  background: transparent !important;
}

.full-screen-image-content {
  min-height: calc(100vh - 64px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-text {
  color: black;
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

.black-button {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}

.black-button:hover {
  background-color: #333 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.black-button:focus {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}